<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Page</h1>
    <table border="2">
        <thead>
            <td>User Name</td>
            <td>Email Id</td>
        </thead>
        <tbody>

            {% for user in user_list %}
            <tr>
                    <td>{{user.uname}}</td>
                    <td>{{user.uemail}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>