<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a href="/index" class="navbar-brand">Static Website - Nodejs </a>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-list"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-list"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-list"><a class="nav-link" href="/service">Serivces</a></li>
                <li class="nav-list"><a class="nav-link" href="/product">Product</a></li>
                <li class="nav-list"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h1>Contact Page.....</h1>
    </div>
</body>

</html>