<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
</head>
<body>
    <table border="2">
        <thead>
           
            <th>Emp Number</th>
            <th>Emp Name</th>
            <th>Emp Salary</th>
        </thead>
        <tbody>
            {% for emp in emp_list %}
           
            <tr>
                <td>{{emp.eno}}</td>
                <td>{{emp.ename}}</td>
                <td>{{emp.esal}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>